<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            @*@Html.ActionLink("挖系宜蘭郎", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

            <a class="navbar-brand" href="Home">
                <img src="~/Files/pic01.jpg" alt="挖系宜蘭郎" width="100" height="60">
            </a>

            @*todo需修改連結*@
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>@Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("男裝", "Index", "Help", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("女裝", "Index", "Category", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 挖系宜蘭郎</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
