<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


<style>

  .bg {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
        }

.bg img {
    min-height: 100%;
    width: 100%;
    opacity: 30%;
}
#footer {
    margin-top: 10px;
    text-align: center;
}

.navbarbackground {
    background-color: #e3f2fd;

}
.dropdownbackground{
        background-color: #e3f2fd;
        border:none;
}

footer {
    text-align: center; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0 0; 
    
}
</style>

    @RenderSection("css", required: false)
</head>

<body>
<div class="bg">
        <img src="/File/pic-login.jpg">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light navbarbackground fixed-top">
        <div class="container-fluid">
            @*@Html.ActionLink("挖洗宜蘭郎", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            
            <a class="navbar-brand " href="@Url.Action("Index", "Home")">
                <img src="~/File/pic01.jpg" alt="挖系宜蘭郎" width="100" height="70">
            </a>

            <button type="button" class="navbar-toggler " data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between navbarbackground">

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav flex-grow-1 ">
                        <li>@Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("商品維護", "ProductMaintain", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("分類維護", "CategoryMaintain", "Category", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("訂單維護", "Index", "Order", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("會員維護", "Index", "Member", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>
                            <div class="dropdown ">
                                <button class="btn btn-light  dropdown-toggle nav-link dropdownbackground" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    權限管理
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="~/PermissionControll/ToEdit">權限維護</a></li>
                                    <li><a class="dropdown-item" href="~/PermissionControll/ToPermissionControll">權限控管</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="nav navbar-nav navbar-right  ">
                        <li class="ml-5"><a href="#" class="text-black text-decoration-none nav-link ">你好： @(User.Identity.Name)</a></li>
                        <li class="ml-5"><a href="/PermissionControll/Logout/" class="text-danger text-decoration-none nav-link ">登出</a></li>
                    </div>
                        
                }
            </div>
        </div>
    </nav>
    <div class="container body-content ">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 挖洗宜蘭郎</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
