@model IEnumerable<Team_7_WebApi_Client.Models.Views.Orders.MemberOrderItemVm>

@{
    ViewBag.Title = "GetOrderItems";
}

<h3 class="search">訂單明細</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
    }

</table>

<div class="back">
    <p><a href="/Orders/GetOrdersForCurrentUser/" >返回訂單總覽</a></p>
</div>

@section css{
    <style>
        .search {
            margin-top: 100px;
            margin-bottom: 1.5em;
            text-align: center;
        }

        .table {
            padding-bottom: 100px;
        }
        .back{
            text-align:end;
        }

    </style>
}

