@model IEnumerable<Team_7_WebApi_Client.Models.Views.Orders.MemberOrderItemVm>

@{
    ViewBag.Title = "GetOrderItems";
}

<h2>GetOrderItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductQuantity)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>

    </tr>
}

</table>
