@model IEnumerable<Team_7_WebApi_Client.Models.Views.Orders.MemberOrderItemVm>

@{
    ViewBag.Title = "GetOrderItems";
}

<h3 class="search">訂單明細</h3>

<div class="bg">
    <img src="/Files/pic-login.jpg">
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr bgcolor="white">
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
    }

</table>

<div class="back">
    <p><a href="/Orders/GetOrdersForCurrentUser/">返回訂單總覽</a></p>
</div>

@section css{
    <style>
        .search {
            margin-top: 100px;
            margin-bottom: 1.5em;
            text-align: center;
        }

        .table {
            padding-bottom: 100px;
        }

        .back {
            text-align: end;
        }

        .bg {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
        }

            .bg img {
                min-height: 100%;
                width: 100%;
                opacity: 30%;
            }

        #footer {
            margin-top: 10px;
            text-align: center;
        }


        .mb-3 {
            padding-bottom: 30px;
            text-align: center;
        }

        .container {
            padding-bottom: 100px;
        }
    </style>
}

